* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  outline-offset: 0.2rem;
  box-shadow: 0 0 0 0.8rem hsl(321, 100%, 78%);
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1120px;
  max-width: 90%;
  margin: 0 auto;
}

.container,
.container2 {
  margin: 1.5rem auto;
}

.container2 {
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
}

.section-nav {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.7rem;
  color: hsl(321, 100%, 78%);
  text-decoration: none;
  font-weight: 400;
  padding: 1rem 3rem;
  border-radius: 5rem;
  box-shadow: inset 0 0 0 3px hsl(321, 100%, 78%);
}

.section-landing {
  margin-top: 12.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
}

.landing-img {
  padding-top: 2rem;
}

.landing-head {
  font-size: 5rem;
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  padding-bottom: 2rem;
}

.landing-text {
  font-size: 1.7rem;
  padding: 1rem 30rem 2rem 30rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2rem;
}

.landing-link:link,
.landing-link:visited {
  background-color: hsl(322, 100%, 66%);
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  border-radius: 5rem;
  padding: 1.5rem 2.8rem;
  transition: all 0.3s;
}

.landing-link:hover,
.landing-link:active {
  text-align: center;
  background-color: hsl(321, 100%, 78%);
}

.landing-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9rem;
}

.landing-big {
  color: hsl(192, 100%, 9%);
  font-weight: 700;
  font-size: 5rem;
}

.landing-small {
  font-size: 1.7rem;
  color: #777;
}

.landing-image {
  display: block;
  width: 100%;
}

.features-boxes {
  background: hsl(207, 100%, 98%);
}

.features-img {
  display: block;
  /* background-size: cover; */
  width: 100%;
}

.features-box {
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 15rem;
}

.margin-top {
  padding-top: 10rem;
}

.features-box img {
  width: 100%;
}

.features-text {
  padding: 3rem;
}

.features-head {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 4rem;
  color: hsl(192, 100%, 9%);
}

.features-paragraph {
  font-size: 1.7rem;
  line-height: 1.1;
}

.landing-cta {
  margin: 10.5rem auto 1.5rem auto;
  text-align: center;
}

.cta-text {
  font-size: 3.1rem;
  font-weight: 700;
  color: hsl(192, 100%, 9%);
  padding-bottom: 4rem;
}

.cta-link:link,
.cta-link:visited {
  text-decoration: none;
  font-size: 1.7rem;
  color: #fff;
  background-color: hsl(321, 100%, 78%);
  padding: 1.5rem 2.8rem;
  border-radius: 5rem;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.cta-link:hover,
.cta-link:active {
  background-color: hsl(322, 100%, 66%);
}

.footer-box {
  background-color: hsl(192, 100%, 9%);
  padding-top: 6rem;
}

.footer-grid {
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15rem;
}

.footer-about {
}

.mid {
  margin-bottom: 5rem;
}

.footer-description {
  font-size: 1.7rem;
  color: hsl(207, 100%, 98%);
  font-weight: 600;
  line-height: 1.4;
  padding: 0 11rem 3rem 0;
}

.footer-calls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-call a {
  display: block;
}

.footer-call {
  display: flex;
  align-items: center;
}

.footer-call span {
  padding-right: 2rem;
}

.footer-call a:link,
.footer-call a:visited {
  text-decoration: none;
  color: hsl(207, 100%, 98%);
  font-size: 1.7rem;
  transition: all 0.3s;
  cursor: pointer;
}

.footer-call a:hover,
.footer-call a:active {
  color: #fff;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icons {
  height: 2.4rem;
  width: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: hsl(207, 100%, 98%);
}

.news-header {
  color: hsl(207, 100%, 98%);
  font-weight: 700;
  font-size: 3.1rem;
}

.news-paragraph {
  color: hsl(207, 100%, 98%);
  font-weight: 400;
  font-size: 1.7rem;
  padding: 0 3.2rem 3rem 0;
}

form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.form-input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 0.9rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-input:active {
  cursor: pointer;
}

form button {
  border: none;
  border-radius: 0.9rem;
  background-color: hsl(322, 100%, 66%);
  color: #fdf2e9;
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

form button:hover {
  background-color: hsl(321, 100%, 78%);
}

@media only screen and (max-width: 1227px) {
  .container {
    width: 100%;
    padding: 0 2rem 0 2rem;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    padding: 0;
  }

  .container2 {
    padding: 0;
    width: 100%;
  }

  .section-landing {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }

  .landing-mockup {
    width: 100rem;
  }

  .landing-text {
    padding: 1rem 20rem 2rem 20rem;
  }

  .footer-grid {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 1038px) {
  .section-landing {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 902px) {
  .landing-mockup {
    width: 70rem;
  }

  .landing-flex {
    flex-direction: column;
    gap: 2rem;
  }

  .features-box {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-grid {
    gap: 7.5rem;
  }

  .footer-description {
    padding: 0 5rem 3rem 0;
  }

  .footer-about {
    grid-column: 2/-1;
  }

  .footer-news {
    grid-row: 1/2;
  }

  form {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  form button {
    padding: 1.2rem;
    width: 50%;
    justify-self: end;
  }
}

@media only screen and (max-width: 712px) {
  .landing-mockup {
    width: 60rem;
  }

  .footer-news {
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  .footer-about {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}

@media only screen and (max-width: 604px) {
  .landing-mockup {
    width: 40rem;
  }

  .landing-head {
    font-size: 3.5rem;
  }

  .landing-text {
    margin-bottom: 3rem;
    padding: 1rem 10rem 2rem 10rem;
  }
}

@media only screen and (max-width: 604px) {
  .landing-mockup {
    width: 30rem;
  }

  .nav-img {
    width: 20rem;
  }
}

@media only screen and (max-width: 400px) {
  .section-nav div {
    width: 100px;
  }

  .nav-img {
    width: 80%;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 1.4rem;
    padding: 0.9rem 1.5rem;
  }
}

@media only screen and (max-width: 294px) {
  .section-nav div {
    width: 100px;
  }

  .landing-mockup {
    width: 20rem;
  }
}

@media only screen and (max-width: 240px) {
  .landing-mockup {
    width: 6rem;
  }
}

@media only screen and (max-width: 212px) {
  .section-nav div {
    width: 60px;
  }

  .landing-mockup {
    width: 20rem;
  }
}
